
/*header nav h1 a img:nth-of-type(1){
	margin-left:11.5%;
}*/
header{
	
	position: relative;
	width: 100%;
}
header>nav>div{
	width: 100%;
	height: 80px;
}
header h1{
	width: 221px;
	height: 80px;
	display:inline-block;
	position: absolute;
	left: 70px;
	top: 0;
}
header h1 a{
	/*display:inline-block;*/
}
header nav div ul{
	width:740px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 500px;
	top: 0;
	/*background: #000088;*/
}
header nav div ul li{
	text-align: center;
	display: inline-block;
	line-height: 80px;
	height: 80px;
	float: left;
}
header nav div ul li:nth-of-type(1){
	width: 86px;
}
header nav div ul li:nth-of-type(2){
	width: 69px;
}
header nav div ul li:nth-of-type(3){
	width: 69px;
}
header nav div ul li:nth-of-type(4){
	width: 69px;
}
header nav div ul li:nth-of-type(5){
	width: 69px;
}
header nav div ul li:nth-of-type(6){
	width: 97px;
}
header nav div ul li:nth-of-type(7){
	width: 97px;
}
header nav div ul li:nth-of-type(8){
	width: 97px;
}
header nav div ul li:nth-of-type(9){
	width: 80px;
	background: #1d345e;
}
header nav div ul li:hover{
	background: #1d345e;
	color: #FFFFFF;
}
header nav div ul li .jiao1{
	display:inline-block;
	width: 10px;
	height: 6px;
	background: url(../img/jiao1.png);
	margin-bottom: 2px;
}
header nav div ul li .jiao2{
	display:inline-block;
	width: 12px;
	height: 6px;
	background: url(../img/jiao2.png);
	margin-bottom: 2px;
}
#search_bar{
	width: 292px;
	position: absolute;
	top: 0;
	right: 0px;
	border: 1px solid #CCCCCC;
	background: #F5F5F5;
	overflow: hidden;
}
#search_bar>input{
	width: 240px;
	height: 38px;
	position: absolute;
	left:20px;
	top: 20px;
	outline: none;
}
#search_bar>label{
	position: absolute;
	left: 230px;
	top: 28px;
	width: 40px;
	height: 40px;
	background: url(../img/SearchIconButton.png) no-repeat;
}
#search_bar>a{
	position: absolute;
	left: 265px;
	top: 33px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/SearchCloseButton.png) no-repeat;
}
.nav-woxiang{
	width: 100%;
	border-top: 1px solid #CCCCCC;
	height: 178px;
	display: none;
	position: absolute;
	top: 80px;
	z-index: 999;
	background: #FFFFFF;
}
.nav-woxiang ul li img{
	width: 120px;
	height: 90px;
	margin-top: 30px;	
}
.nav-woxiang ul li a{
	display: block;
	padding-top: 3px;
	color: #898989;
}
.nav-woxiang ul li a:hover{
	color: #0000CC;
	text-decoration: none;
}
.carousel-inner .item>img{
	height: 430px;
}
a[data-slide="prev"],a[data-slide="next"]{
	font-size: 100px;
	top: 30%;
}
.hotnews{
	height: 28px;
	overflow: hidden;
}
.hotnews ul li{
	height: 28px;
	line-height: 28px;
	width: 800px;
}
.hotnews ul{
	position: relative;
	left: 130px;
	
}
.hotnews .newpic{
	position: absolute;
	left: 100px;
	top: 512px;
}
.accordion ul{
	position: relative;
	width: 1200px;
	height: 176px;
	top: 10px;
	left: 30px;
	overflow: hidden;
}
.accordion ul li{
	width: 525px;
	height: 176px;
	background-size: 100% 100%;
	position: absolute;
	padding:20px 0 0 30px;
}
.accordion ul li h2{
	font-size: 20px;
}
.accordion ul li:nth-of-type(1){
	background: url(../img/20151121025931477.jpg);
	z-index: 1;
	left: 60px;

}

.accordion ul li:nth-of-type(2){
	background: url(../img/20151121030150700.jpg);
	z-index: 2;
	left: 450px;
	
}
.accordion ul li:nth-of-type(3){
	background: url(../img/20151121030227975.jpg);
	z-index: 3;
	left: 650px;
}
.accordion ul li:nth-of-type(4){
	background: url(../img/20170316103721237.jpg);
	z-index: 4;
	left: 850px;
	
}
.accordion a:hover{
	text-decoration: none;
}
.accordion a>p{
	color: #666666;
}
.btn-primary{
	height: 22px;
	font-size:14px;
	line-height: 10px;
	margin-bottom: 5px;
}
/*轮播2*/
.banner_bar{
	width: 807px;
	height: 584px;
	overflow: hidden;
	visibility: visible;
	position: relative;
	top: 40px;
	left: 75px;
}
.banner_bar ul{
	width: 807px;
	height: 584px;
	overflow: hidden;
	position: relative;
}
.banner_bar ul li{
	width: 807px;
	height: 584px;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.banner_bar ul li.block{
	display: block;
}
.banner_bar ul li img{
	width: 100%;
	height: 100%;
}
.banner_list{
	width: 706px;
	height: 98px;
	overflow: hidden;
	position: relative;
	left:125px ;
	top: -30px;
	z-index: 999;
}
.banner_list .leftbtn{
	display: block;
	height: 108px;
	width: 27px;
	background:#F5F5F5;
	position: absolute;
	left: 0;
	top: 0;
}
.banner_list .rightbtn{
	display: block;
	height: 108px;
	width: 27px;
	background:#F5F5F5  ;
	position: absolute;
	right:0;
	top: 0;
}
.banner_list .leftbtn i{
	display: block;
	height: 98px;
	width: 27px;
	background: url(../img/lrbtn1.png) no-repeat 0px 0px;
}
.banner_list .rightbtn i{
	display: block;
	height: 98px;
	width: 27px;
	background: url(../img/lrbtn1.png) no-repeat -54px 0px;
}
.banner_list ul{
	position: relative;
	left: 28px;
	top:0px;
	width: 648px;
	height: 98px;
	overflow: hidden;
}
.banner_list ul li{
	width: 128px;
	height:98px;
	background: #F0F0F0 ;
	position: absolute;
	top: 0;
}
.banner_list ul li:nth-of-type(1){
	left: 0;
}
.banner_list ul li:nth-of-type(2){
	left: 130px;
}
.banner_list ul li:nth-of-type(3){
	left: 260px;
}
.banner_list ul li:nth-of-type(4){
	left: 390px;
}
.banner_list ul li:nth-of-type(5){
	left: 520px;
}
.banner_list ul li:nth-of-type(6){
	left: 650px;
}
.banner_list ul{
	width:780px ;
}
.banner_list ul li>p{
	text-align: center;
	margin-top:-15px;
	width: 128px;
	height: 20px;
	line-height: 20px;
}
.demop{
	border-bottom:2px solid #000066;
	color: #000066;
}

.mright{
	width: 315px;
	height: 610px;
	position: absolute;
	left: 900px;
	top: 744px;
} 
.mright .title{
	width: 315px;
	height: 57px;
}
.mright .title h2{
	border-left: 5px solid #000066;
	text-indent: 20px;
}
.mright .ivideo .videobtn{
	width: 48px;
	height: 48px;
	background: url(../img/vicon1.png);
	position: absolute;
	left: 130px;
	top: 150px;
}
.mright p{
	width: 100%;
	height: 38px;
	background: #F5F5F5;
	line-height: 38px;
	text-indent: 10px;
}
.mright p>a{
	color: #666666;
}
.mright p>a:hover{
	color: #000088;
	text-decoration: none;
}
#videobar{
	width: 100%;
	height: 600px;
	position: relative;
	background: #00008B;
}
.mbottom{
	width: 1140px;
	height: 342px;
	background:#F5F5F5 ;
	position: relative;
	left: 75px;
}
.mbottom .mbleft,.mbottom .mbright{
	padding: 25px;
	width:50%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	position: relative;
}
.mbottom .title{
	height: 30px;
	border-bottom:1px solid #C3C1C1;
}
.title>h2{
	position: absolute;
	top: 0;
	border-left: 5px solid #000066;
	text-indent: 20px;
	font-size:22px ;
	font-weight: bold;
	color: #666666;
}
.navbar{
	width: 520px;
	overflow: hidden;
}
.navlist{
	width: 1080px;
	position: absolute;
	left: 0;
}
.navlist li.marginleft{
	margin-left:18px;
}
.navlist li {
	width: 250px;
	height: 100%;
	float: left;
}
.navlist h2,.navlist p{
	color: #666666;
	font-size: 16px;
}
.title h2>span{
	font-weight: normal;
	position: absolute;
	left: 440px;
}
.title h2>span>i{
	cursor: pointer;
}
.mbottom .navbar{
	width:520px;
	height: 224px;	
}
footer{
	margin-top:40px;
	height: 360px;
	background: #f5f5f5;
}
.partner{
	width: 190px;
	height: 220px;
	float: left;
	font-size: 14px;
}
.partner>h3{
	font-size: 14px;
}
footer>.col-lg-12{
	padding:50px 70px;
	
}
.partner>ul>li a{
	color:#666666;
	font-size:12px ;
}
.links{
	float: left;
	margin-left:40px ;
	color: #666666;
}
.icon1{
	display: inline-block;
	width: 23px;
	height: 24px;
	background: url(../img/fxicon1.png) no-repeat;
}
.icon2{
	display: inline-block;
	width: 23px;
	height: 24px;
	background: url(../img/fxicon1.png) no-repeat -22px 0;
}
